@charset "utf-8";
@import "type.css";
@import "color.css";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Layout */
.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1rem;
}

a.btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    padding: 0;
    margin: 0;
}

/* Buttons */
a.header-btn {
    text-decoration: none;
    color: var(--color-support100);
    padding: .5rem;
    border-radius: 4px;
    /* background-color: #FFFFFF; */
    /* box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px; */

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
a.header-btn:hover {
    background-color: #FAFAFA;
}
a.btn-back {
    text-decoration: none;
    color: var(--color-support100);
    padding: .5rem;
    border-radius: 4px;
    /* background-color: #FFFFFF; */
    /* box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px; */

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

a.btn-back:hover {
    background-color: #FAFAFA;
}

a.btn {
    text-decoration: none;
    color: var(--color-support80);
}

a.btn.outline {
    border: 1px solid var(--color-support80);
    border-radius: 4px;
    padding: .5rem 1.5rem;
}
a.btn.outline:hover {
    color: var(--color-support100);
    border: 1px solid var(--color-support100);
}
a.btn:hover {
    color: var(--color-support100);
}
a.btn-round {
    text-decoration: none;
    color: inherit;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-support20);
    border: 1px solid var(--color-support30);
    color: var(--color-support100);
}

.btn-default {
    cursor: pointer;
    text-decoration: none;
    background: none;
    padding: .5rem;
    font-size: var(--small);
    font-weight: bold;
    color: var(--color-support100);
    border: none;
    border-bottom: 2px solid transparent;
}
.btn-default:hover {
    color: var(--color-support50);
    border-bottom: 2px solid var(--color-support50);
}
.btn-primary-outline {
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: 1px solid var(--color-support100);
    border-radius: 4px;
    padding: .5rem 1rem;
    font-size: var(--small);
    font-weight: bold;
    color: var(--color-support100);
}
.btn-primary-outline:hover {
    background-color: var(--color-support100);
    color: var(--color-support10);
}

/* button.btn-default {
    cursor: pointer;
    background: none;
    border: none;
    padding: 1rem;
    font-size: var(--small);
    font-weight: bold;
} */

.btn-white {
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
    
    font-size: var(--small);
    font-weight: bold;
    color: #FFFFFF;
}
.btn-white:hover {
    background-color: #FFFFFF;
    color: var(--color-support100);
}

.btn-cta {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-support80);
    border: none;
    height: 40px;
    padding: 0 1.5rem;
    font-size: var(--small);
    font-weight: bold;
    color: var(--color-support10);
    border-radius: 4px;
    box-shadow: rgba(206, 111, 56, 0.281) 0px 7px 29px 0px;
}
.btn-cta:hover {
    background-color: var(--color-support100);
}
.btn-block {
    width: 100%;
}
button.outline {
    background: none;
    border: 1px solid var(--color-support90);
    color: var(--color-support90);
}

button.outline:hover {
    background-color: var(--color-support100);
    color: var(--color-support10);
}

figure.thumbnail {
    margin: 0;
    padding: 0;
    background-color: var(--color-black5);
    color: var(--color-support100) !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    position: relative;
}

figure.avatar {
    display: block;
    margin: 0;
    padding: 0;
    background-color: var(--color-black5);
    color: var(--color-support100) !important;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;

    position: relative;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure.thumbnail p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-weight: bold;
}

/* forms */
p.title {
    font-size: var(--h5);
    font-weight: bold;
    /* color: var(--color-support60); */
    padding: 1rem .5rem;
    border-bottom: 2px solid var(--color-support100);
    margin-bottom: 1rem;
}
.form {
    margin: 0;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    align-items: center;
    margin: 1rem 0;
}
.form-group input {
    width: 100%;
    background-color: #FAFAFA;
    border: 2px solid var(--color-black10);
    border-radius: 4px;
    padding: .5rem;
}
.form-group input:focus {
    background-color: #FFFFFF;
    outline: 2px solid var(--color-support50);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    /* justify-content: flex-end; */
    margin: 2rem 0;
}

.form hr {
    border: 2px solid var(--color-support50);
    margin-bottom: 2rem;
}